*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
}
h1{
    margin: 30px 20px ;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 20px;
    /* margin-right: 20px; */
    /* margin: 0 auto ;. */
    
}
.card{
    padding: 24px;
    background-color: #fff;
    border-radius: 20px;
    width: 294px;
    height: 516px;
    /* flex-grow: 1; */
    /* flex: 1; */

}
.body-card{
    display: flex;
    gap: 16px;
}
.Pantalons
{
    font-size: 14px;
    color: #B3B3B3;
}
.p1{
    font-size: 18px;
}
.price{
    font-size: 24px;
    font-weight: bold;
}
span{
    font-size: 14px;
}

.Couleur{
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.colors-container{
    background-color: #F2F2F2;
    display: flex;
    border-radius: 40px;
    padding: 6px 7px;
    gap: 10px;
    width: fit-content;

}
.circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.color-Noir{
    background-color: black;
}
.color-Blanc{
    background-color: #fff;
}
.color-Bleu-foncé{
    background-color: #0D0072;
}
.color-Marron{
    background-color: #965E47;
}
.color-Vert {
    background-color: #007F1B;
}
.Marron, .M{
    border: #000 1px solid;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btn{
    background-color: #965E47;
    border: none;
    padding: 14px 59px;
    color: #fff;
    border-radius: 12px;
    /* margin-top: 30px ; */
}
hr{
    margin: 20px 0 ;
    width: 220px;
}

/* taille */
.size{
    background-color: #F2F2F2;
    border-radius: 40px;
    padding: 6px 16.5px;
    font-weight: 600;
    
}
.taille{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}



/* column-count
   column-gap */