
.right-side{
    background-color: $primary_color;
    padding: 30px;
    margin-right: 100px;
    padding-bottom: 900px;
    height: 100vh;
    .panier{
        @include flex-container(start, center, row);
        .add-remove-icons{
            @include flex-container(center, center);
            gap: 10px;
            margin-left: 104px;
            img {
                background-color: $background_color;
                padding: 10px;
                border-radius: 10px;

            }

        }
    }
    .panier-items{
        padding: 20px 0;

        .dots{
            margin: 15px 0;
        }
        .panier-item{
            @include flex-container(start, center, row);
            gap: 16px;
            img{
                width: 70px;
                height: 70px;
            }
            .panier-item-content{
                .Pantalons{
                    font-size: 14px;
                    color: $text_color_light;
                }
                
            .p1,.price {
                font-size: 18px;
            }
            .price{
                margin-left: 50px;

            }

                .panier-item-add-remove{
                    @include flex-container(space-between center);
                    gap: 30px;
                    input{
                        color: $primary_color;
                        background-color: $secondary_color;
                        border: none;
                        padding: 8px;
                        border-radius: 8px;
                        span{
                            padding: 2.5px;
                        }
                    }
                }
            }
        
        }

    }
    .totalPrice{
        @include flex-container(START, center);
        margin-bottom: 179px;
    
        .prix{
        @include flex-container(space-around, center);
        gap: 15px;
        margin-left: 50px;

        .previousPrice{
            font-size: 24px;
            font-weight: bold;
            text-decoration: line-through;
            color: $text_color_light;
        }
        .currentPrice{
            font-size: 24px;
            font-weight: bold;
            color: #000;
        }
        }
    }

    .paying-inputs{
        @include flex-container(start, START, column);
        gap: 20px;
        .first-input {
            @include flex-container(START, center);
            .input-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 12px;
                width: 280px;
                height: 47px;
                
            }
            
            legend{
                font-size: 14px;
                color: #AAAAAA;
            }
            input{
                font-size: 16px;
                font-weight: bold;
                color: #000;
                
                &:first-of-type {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding:5px 0px 14px 20px;
                    width: 100px;
                    

                }
                &:last-of-type {
                    border-radius: 11px;
                    padding: 13px 22px;
                    // height: 100%;
                    
                    border: none;
                    outline: none;
                    background-color: #F2F2F2;
                    width: 87px;
                    height: 38px;
                    margin-bottom: 8px;
                    
                
                }
                
                
                    
            }
        }
        .second-input{
            .input-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 12px;
                width: 280px;
                height: 47px;
            }
            legend{
                font-size: 14px;
                color: #AAAAAA;
            }
            input{
                font-size: 16px;
                font-weight: bold;
                color: #000;     
                border: none;
                outline: none;
                background-color: transparent;
                padding:5px 20px 14px 20px;
            }

        } 
   }

    .paying-valid-buttons {
        @include flex-container(start, center, row);
        gap: 10px;
        margin-top: 20px;

        .comBtns {
            @include flex-container(center, center, row);
            gap: 0;
            background-color: #F2F2F2;
            border-radius: 12px;

            .btn1 {
                @include flex-container(center, center, column);
                padding: 10px  28px;
                border: #000 1px solid;
                border-radius: 12px;
                background-color: $primary_color;
            }

            .btn2 {
                @include flex-container(center, center, column);
                padding: 10px 28px;
                border-radius: 12px;
                border: #F2F2F2 1px solid;

            }
        
        }
        .btn3{
            @include flex-container(center, center, column);
            padding: 24px 16px;
            background-color: $secondary_color;
            font-size: 16px;
            font-weight: bold;
            color: $primary_color;
            border-radius: 12px;

            

        }

    
 
    }
}